<!doctype html>
<html lang="en">
<body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
  <div>
    <a class="home-btn btn btn-primary" href="/">
      Home
    </a>
  </div>


  <br/>
  <div class="col-4">
  </div>

  <div class="col-4 main-div">
      <div class="card">
        <%= form_tag("/save_image/create", method: :post, class: "save-form") do %>
          <%= url_field :url,params[:img_url], placeholder: "Image URL", class: " url-field form-control col-11 "%><br/>
          <%= text_field_tag :tags, nil, placeholder: "Tags", class: "tags-field form-control col-11 " ,:data => {:role => 'tagsinput'}%>
          <%= submit_tag "Submit", class: " submit-btn btn btn-success align-right" %>
        <% end %>
      </div>
      <br/>
  </div>
</body>
</html>
